*{
    margin:none;
    padding: 0px;
}
body{
    background-color: rgb(9, 10, 50);
    color: white;
}
#main
{ background-color: #fff;
    color: black;
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;

}
h2{
    width: 100%;
    border-radius: 5px;
    height: 50px;
    padding-top: 20px;
    background-color: rgb(227, 196, 149);
}
h2:hover{
    background-color: #d0a5a5;

}